* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
    text-decoration: none;
}
/* Overall formatting */
:root {
    --darkgrey: #35333a;
    --darkblue: #50637f;
    --brightblue: #81aabe;
    --warmblue: #73b3d3;
}

h2 {
    font-size: large;
    background-color: transparent;
}

h3 {
    font-size:30px;
    color: var(--darkblue);
    background-color: transparent;
}

h4, h5 {
    color: var(--darkblue);
    background-color: transparent;
}

p {
    font-size: 14px;
    color: var(--darkblue);
    background-color: transparent;
}
/* Header with nav links */

header {
    display: flex;
    background-color: var(--darkgrey);
    color: var(--darkgrey);
    align-items: center;
    justify-content:space-between;
    height: 50px;
}

header h1 {
    display: inline-block;
    background-color: var(--brightblue);
    min-width: 280px;
    text-align: end;
    padding-right: 8px;
}
    /* Navbar */

header nav {
    display: inline-block;
    background-color: transparent;
    min-width: 60%;
    position: absolute;
    right: 20px;
}

header nav ul {
    display: flex;
    background-color: transparent;
    padding-right: 20px;
    list-style-type: none;
    justify-content: flex-end;
}

header nav ul li {
    background-color:transparent;
    width: auto;
    padding: 0 3px;
}

header nav ul li a {
    display: flex;
    color:var(--warmblue);
    background-color: transparent;
    font-size: 14px;
    padding: 0 5px 5px 5px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 2px solid;
    justify-content: center;
}
/*  Subtitle hero section */

.hero-container {
    display: flex;
    position: relative;
    text-align: center;
}

.background-image {
    max-height: 200px;
    width: 100%;
}

.subtitle h2 {
    color:var(--darkgrey);
    position: absolute;
    bottom: 8px;
    right: 40px;
    padding: 8px;
    background-color: var(--warmblue); 
}

/* Main content container layout */

.row-container {
    display: flex;
    justify-content: left;
    min-height: 100%;
}

.row-container .left-side {
    display: inline-block;
    border-right: 3px solid var(--darkblue);
    min-width: 268px;
    text-align: end;
    padding-right: 10px;
    position: relative; 
}

.row-container .right-side {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:left;
    align-items: start;
}

/* About Me section formatting */

#about-me .right-side {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}

#about-me .right-side img {
    margin-left: 38px;
    max-width: 200px;
    flex-direction: row;
    height: auto;
}

#about-me .right-side p {
    margin: 0 15px 0;
    width: 60%;
    text-align: justify; 
} 

/* Work section project image formatting */

#project-row1 {
    display: flex;
    position: relative;
    margin-left: 0px;
    padding: 3px;

}

#project-row1 li {
    list-style-type: none;

}

#project-row1 img {
    border: 3px solid var(--warmblue);
    position: relative;
    max-width: 100%;
    height: auto;
}

#project-row1:hover img {
    opacity: 0.3;
  }


#project-row2 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

#project-row2 ul {
    padding-left: 0px;
}

#project-row2 li {
    list-style-type: none;
    
}

#project-row2 img {
    border: 3px solid var(--warmblue);
    position: relative;
    max-width: 100%;
    display: block;
    /* max-width:426px; */
    margin: auto;
    height: auto;
}

.html-cheatsheet:hover {
    opacity: 0.3;
}

.study-guide:hover {
    opacity: 0.3;
}

/* Project figcaption formatting */

figcaption {
    background-color:var(--brightblue);
    max-width: 80px;
    padding: 1px;
    margin-top: -100px;
    position:relative;
}
figcaption h4 {
    line-height: 0px;
}
figcaption p {
    line-height: 0px;
}

/* Contact links */

#contact-links {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

#contact .right-side {
    justify-content: space-between;
}

#contact-links li {
    display: inline-flex;
    padding: 0 23px 0 0; 
}

#contact-links li a {
    color: var(--darkblue);
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid;
} 

/* Responsive media */

@media screen and (max-width: 575px) {
    header {
      flex-direction: column;
      min-height: 100%;
    }

    header nav, .hero-container {
      display: none;
      }

    .row-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row-container .left-side {
        background-color: #35333a;
        text-align: center; 
        border: none;
    }

    #about-me .right-side {
        flex-direction: column;
        align-items: center;
    }

    #work .right-side {
        flex-direction: column;
        align-items:  center;
        flex-wrap: wrap;
    }

    #project-row2, #about-me .right-side img {
        flex-direction: column;
        align-items: center;
    }

    #contact-links {
        flex-direction: column;
        align-items: center;
    }
  }

