* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
    text-decoration: none;
}


/* Index
- Header
- Subtitle section
- Content */

:root {
    -- darkgrey: #353535;
}

h2 {
    font-size: large;
}

h3 {
    font-size:30px;
    color: #50637f;
}

h4, h5 {
    color: #50637f
}

p {
    font-size: 14px;
    color: #50637f
}
/* Header with nav links */
header {
    display: flex;
    background-color: #35333a;
    color: #35333a;
    align-items: center;
    justify-content:space-between;
    height: 50px;
}

header h1 {
    display: inline-block;
    background-color: #81aabe;
    min-width: 280px;

    text-align: end;
    padding-right: 8px;
}

header nav {
    background-color: transparent;
    min-width: 60%;
    position: absolute;
    right: 20px;
}

header nav ul {
    display: flex;
    background-color: transparent;
    padding-right: 20px;
    list-style-type: none;
    justify-content: flex-end;
}

header nav ul li {
    background-color:transparent;
    width: auto;
    padding: 0 3px;
}

header nav ul li a {
    display: flex;
    color:#73b3d3;
    background-color: transparent;
    font-size: 14px;
    padding: 0 5px 5px 5px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 2px solid;
    justify-content: center;
}
/*  Subtitle section */
.hero-container {
    position: relative;
    text-align: center;
}

.background-image {
    max-height: 200px;
    width: 100%;
}

.subtitle h2 {
    color:#35333a;
    position: absolute;
    bottom: 8px;
    right: 40px;
    padding: 8px;
    background-color: #73b3d3; 
}


/* Main content container layout */

.row-container {
    display: flex;
    justify-content: left;
    min-height: 100%;
}

.row-container .left-side {
    display: inline-block;
    border-right: 3px solid #50637f;
    min-width: 268px;
    text-align: end;
    padding-right: 10px;
    position: relative; 
}

.row-container .right-side {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:left;
    align-items: start;
}

/* About Me section formatting */

#about-me .right-side {
    display: inline-flex;
    flex-direction: row;
    align-items:flex-start;

}

#about-me .right-side p {
    float: right;
    margin: 0 15px 0;
    background-color: transparent;
   
}

#about-me .right-side img {
    margin-left: 38px;
    max-width: 200px;
    float: left;
}

/* Portfolio image thumbnails formatting */


#thumbnails-row1 {
    display: flex;
    position: relative;
    margin-left: 0px;
    padding: 3px;

}

#thumbnails-row1 li {
    list-style-type: none;

}

#thumbnails-row1 img {
    border: 3px solid #73b3d3;
    position: relative;
    max-width: 100%;
}


#thumbnails-row2 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

#thumbnails-row2 ul {
    padding-left: 0px;
}

#thumbnails-row2 li {
    list-style-type: none;
    
}

#thumbnails-row2 img {
    border: 3px solid #73b3d3;
    position: relative;
    max-width: 100%;
    display: block;
    max-width:426px;
    margin: auto;
}

/* Thumbnail image labels*/

figcaption {
    background-color:#81aabe;
    border: 1px solid #81aabe;
    max-width: 80px;
    padding: 1px;
    margin-top: -100px;
    position:relative;
}

figcaption h4, p {
    background-color:#81aabe;
    text-decoration: none;
    line-height: 1px;
}


/* Contact links */

#contact-links {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

#contact .right-side {
    justify-content: space-between;
}

#contact-links li {
    display: inline-flex;
    padding: 0 23px 0 0; 
}

#contact-links li a {
    color: #50637f;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid;
} 

/* media screen adjustment  */
/* @media all and (max-width: 800px) {
    .container 
    .row-container {
      justify-content:center;
      flex-direction: column;
      flex-wrap:wrap
    }
} */


/* -------------------------------------------------- */

/* Work section images and placeholders    */
/* .right-side figure {
    display: flex;
    /* border: 3px solid #73b3d3; 
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 968px;
}

.horiseon {
    width: 400px;
    flex-grow: 1;
    border: 3px solid #73b3d3;
}

.html-sheet {
    width: 200px;
    flex-grow: 2
}

.CSS-sheet {
    width: 200px;
    flex-grow: 2;
}
/* Work section image label

figure .image-label {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #81aabe;
    max-height: 30px;
    text-align: left;
    position: relative;
    overflow: hidden;
    bottom: 60px;
    left: 40px; 
    
    
    
    position: relative;
    top: 80px;
    right: 15px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;*/



/* .row-container .right-side-row1 {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:left;
    align-items: start;
    width: 100%;
    position: relative;
    max-width: 600px;
    z-index: 1; */
    /* margin-left: 18px; */
/* } 

.row-container .right-side-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:left;
    align-items: start;
    width: 100%;
    max-width: 600px;
    position: relative;
    z-index: 2; */
    /* margin-left: 18px;*/

 /* container for the images */
    /* display: block;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:left;
    align-items: start;
    max-width: 400px; */

     /* #work .right-side figcaption {
    background-color: #73b3d3;
    margin-left: 40px;
    margin-bottom: 80px;
    width: 12%;; */
    /* align-self: flex-start; */
    /* text-align: center; */
    /* padding-right: 35px; */
    /* position: absolute;
    bottom: 0;
    left: 0;
}


img figcaption h4 {
    color: #1d1b20;
    background-color: transparent;
    text-align: center;
    font-weight: bolder;
} */

/* img figcaption p {
    color: #1d1b20;
    background-color: transparent;
    text-align: center;
    margin-top: -10px;
}
*/
/* #thumbnails-row1 .horiseon {
    display: block;
    max-width: 920px;
    margin: auto;
} */
