* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    -- darkgrey: #353535;
}

h2 {
    font-size: large;
}

h3 {
    font-size:30px;
    color: #475d69;
}

h4 {
    color: #475d69
}

h5 {
    color: #475d69
}

p {
    font-size: 14px;
    color: #475d69;
}
header {
    display: flex;
    background-color: #35333a;
    color: #35333a;
    align-items: center;
    justify-content:space-between;
    height: 50px;
}

header h1 {
    display: inline-block;
    background-color: #81aabe;
    width: 280px;
    text-align: end;
    padding-right: 8px;
}

header nav {
    width: 60%;
    position: absolute;
    right: 20px;
}

header nav ul {
    display: flex;
    padding-right: 20px;
    list-style-type: none;
    justify-content: flex-end;
}

header nav ul li {
    display: flex;
    width: auto;
    padding: 0 3px;
}

a {
    display: flex;
    color:#73b3d3;
    font-size: 14px;
    padding: 0 5px 5px 5px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 2px solid;
    justify-content: center;

}

.container {
    position: relative;
    text-align: center;
}

.background-photo {
    max-height: 200px;
    width: 100%;
}

.subtitle h2 {
    color:#35333a;
    position: absolute;
    bottom: 8px;
    right: 40px;
    padding: 8px;
    background-color: #73b3d3; 
}

.row-container {
    display:flex;
    justify-content: left;
    width: 100%;
    height: 200px;
}

.row-container .left-side {
    border-right:3px solid #475d69;
    width: 30%;
    text-align: end;
    padding-right: 10px;
}

.row-container .right-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    margin: 8px;
    height: 100%;
}

.right-side figure {
    border: 3px solid #73b3d3;
    width:fit-content;
}
/* 
.right-side figure  { */
figcaption {
    color: #24363f;
    background-color: #73b3d3;
    position: absolute;
    bottom: 8px;
    left: 40px;
}

/* .about-me h3 {
    width: 220px;
    height: 200px;
    margin: 4px;
    border-right:3px solid #81aabe;
    text-align:end;
    padding: 20px 6px 20px 0px;
}

#about-me article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
} */ */

/* .vertical-line {
    border-left: 3px solid #35333a;
    height: 100px;
    position: absolute;
    left: 25%;
} */



@media screen and 
    
}